<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <title>確認</title>
    </head>
    <body>
        <header>
            <div id="header-inner">
                <h1>CaseNewSOnline</h1>
            </div>
        </header>

        <div id="info-post">
                <p>お名前<br>
                {{ post.name }}</p>
                <p>メールアドレス<br>
                {{ post.mail }}</p>
                <p>ケースの名前（主題）<br>
                {{ post.title }}</p>
                <p>背景知識（歴史）<br>
                {{ post.history }}</p>
                <p>ケース主題に対する過去の取り組み<br>
                {{ post.done }}</p>
                <p>問いかけ<br>
                {{ post.question }}</p>
                <p>投稿者の考え<br>
                {{ post.idea }}</p>
                <p>参考資料<br>
                {{ post.reference }}</p>
                <p><input type="submit" value="確認する"></p>
        </div>
    </body>
</html>